body{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 75%;
}

header{
    background: linear-gradient(rgba(62, 59, 216, 0.199), white);
    height: 8vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

header img{
    height: 45vh;
    margin-left: 3%;
}

#hamburger{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    margin-right: 20px;
    margin-bottom: 12%;  
}

.barra{
    background-color: none;
    background-color: rgba(51, 53, 192, 0.651);
    width: 35px;
    height: 3px;
    border-radius: 25px;
    margin-bottom: 10%;
}

header nav a{
    display: none;
}

section{
    margin-top: 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

section :nth-child(2){
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section img{
    width: 180px;
    height: 180px;
    border-radius: 50%;
    animation: float 5s infinite;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.4);
}

section img:hover{
    opacity: 0.5;
    cursor: pointer;
    transition-duration: 0.5s;
}

section a{
    text-decoration: none;
    color: black;
    font-size: 20pt;
    margin-top: 1.5%;
    font-family: 'Lobster', cursive;
    font-size: 300%;
}

section p{
    font-size: 18px;
    text-align: center;
    padding: 4%;
    margin-left: 8%;
    margin-right: 8%;
    background-color: rgba(130, 141, 188, 0.055) ;
    border-radius: 25px;
    text-align: justify;
}


#imgplanetas {
    display: none;
}

#imgnebulosas{
    display: none;
}

@keyframes float{
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(0.9);
    }
    100%{
        transform: scale(1);
    }
}

footer{
    border-top: 0.3px solid rgba(0, 0, 0, 0.315);
    height: 10%;
    display: flex;
    padding-left: 13%;
    padding-right: 13%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(white, rgba(62, 59, 216, 0.199))
}

footer img{
    height: 20px;
    widows: 20px;
}

/* versão tablet */

@media(min-width: 700px){

    header{
        height: 10vh;
    }

    header img{
        height: 55vh;
    }

    section{
        margin-top: 50px;
        display: flex;
        flex-direction: row;
    }
    
    section img{
        height: 330px;
        width: 330px;
        margin-left: 5%;
        border-radius: 10px;
    }
    
    section p{
        background-color: white;
        margin: 15px;
    }
    
    section img:hover{
        opacity: 1;
    }
    
    .nomeimg{
        font-size: 12px;
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
        margin-top: 7px;
        text-align: center;
    }

    #imgplanetas{
        display: flex;
    }   

    #imgplanetas div{
        margin: 2%;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }

    #imgplanetas img{
        width: 94px;
        height: 94px;
        border-radius: 10px;
        margin-left: 0;
    }
 
    #estrelas{
        flex-direction: row-reverse;
    }

    #estrelas :first-child{
        margin-right: 0;
        margin-left: 0;
    }
    
    #nebulosas{
        display: flex;
        flex-direction: row;
    }

    #nebulosas p{
        margin: 15px;
    }

    #imgnebulosas{
        display: flex;
    }

    #imgnebulosas img{
        width: 94px;
        height: 94px;
        border-radius: 10px;
        margin: 0;
    }

    #imgnebulosas div{
        width: 95px;
        margin: 2%;
        margin-left: 0;
    }
    
}